# Xcode
#
build/
*.xcworkspace
xcuserdata/
DerivedData/
.idea/
.DS_Store

# Swift Package Manager
#
.build/
.swiftpm/xcode/
Package.resolved

# CocoaPods
#
Pods/
*.lock

# Carthage
#
Carthage/Build

# Fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives
#
*.xcarchive
*.ipa
*.dSYM.zip
*.bcsymbolmap

# Playgrounds
#
timeline.xctimeline
playground.xcworkspace

# Temporary Files
#
.env
.history
