<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Add Question To Quiz {{quiz_id}}</title>
        
        <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />

        {% load static %}
        <link rel="stylesheet" href="{% static '/css/colors.css'%}">
        <link rel="stylesheet" href="{% static '/css/quiz_styles.css'%}">

        <script src="https://cdn.jsdelivr.net/npm/latex.js/dist/latex.js"></script>
        <script src= "{% static '/scripts/generate_quiz_html.js' %}"></script>
        <script>
            customElements.define("latex-js", latexjs.LaTeXJSComponent);
        </script>

        <style>
            .add_question_button {
                border: 2px solid Black;
                border-radius: 25px;
                margin: 5px;
                width: 8em;
                height: 2em;
            }

            .add_question_add_state{
                background: green;
            }

            .add_question_do_not_add_state{
              background: var(--KontinuaRed); 
            }

            .edit_question {
                border: 2px solid Black;
                border-radius: 25px;
                margin: 5px;
                width: 8em;
                height: 2em;
                font-weight: bold;
            }

            .edit_question:hover{
                background-color: var(--KontinuaBlue);
                color: white;
            }

        </style>

    </head>

    <body>
        <!--Include AJAX-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!--Include Header-->
        <iframe src="header.html" width="100%" height="95px" frameBorder="0" style="display: block; padding: 0px; margin: 0px;"></iframe>
        
    <ul class="unbulleted_list">
        <li>
            <button id="back_button" onclick="confirmLeave()" type="button">Back</button>
        </li>
        <li>
            <div id = "quiz_content" class ="bordered">
                <ul id = "questions_list" class="unbulleted_list"> </ul>
            </div>
        </li>
    </ul>
    <!--Div for filters-->
    <div id = "right_panel">
        <div class="bordered" id = "meta_data">
            <div>
                <div class="form_element_wrapper">
                    <span class="form_label">Volume: </span>
                        <select id="volume_value" name="volume_value">
                        <option value = "">Any Volume</option>
                        {% for volume in volumes %}
                            <option value="{{volume.volume_id}}">{{volume.volume_id}}</option>
                        {% endfor %}
                        </select>
                </div>
                <div class="form_element_wrapper">
                    <span class="form_label">Chapter: </span>
                    <select id="chapter_value" name="chapter_value">
                        <option value = "">Any Chapter</option>
                        {% for chapter in chapters %}
                            <option value="{{chapter.chapter_id}}">{{chapter.chapter_id}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form_element_wrapper">
                    <span class="form_label">Creator: </span>
                        <select id="creator_value" name="creator_value">
                        <option value="">Any Creator</option>
                        {% for creator in creators %}
                            <option value="{{creator.user_id}}">{{creator.full_name}}</option>
                        {% endfor %}
                        </select>
                </div>
                <div class="form_element_wrapper">
                    <span class="form_label">Time (minutes): </span>
                    <input type="text" id="time_value" name="time">
                </div>
                <div class="form_element_wrapper">
                    <span class="form_label">Point Value: </span>
                    <input type="text" id="point_value">
                </div>
                <div class="form_element_wrapper">
                    <span class="form_label">Difficulty: </span>
                    <input type="text" id="difficulty_value">
                </div>
            </div>
        </div>
        <button id="save_changes_button">Save Additions</button>
        <button id="filter_button">Search</button>
        <br>
        <form action="{% url 'create_question' %}" method="post">
            {% csrf_token %}
            <button style="width: 200px;" type="submit">
                Create New Question
            </button>
        </form>
        <div id="save_status" class="bordered"></div>        
    </div>

    <div id="customModal" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to leave this page?</p>
            <button class="modalButton" onclick="saveChanges()">Save Changes before leaving</button>
            <button class="modalButton" onclick="leaveWithoutSaving()">Leave Without Saving</button>
            <button class="modalButton" onclick="cancelLeave()">Cancel</button>
        </div>
    </div>

    <iframe src="footer.html" width="100%" frameBorder="0"></iframe>


        <script type = "text/javascript">
            // Toggle add button between two states, indicated by label 
            // and class
            function toggle_add(button){
                if($(button).hasClass("add_question_do_not_add_state")){
                    $(button).text("Add");
                    $(button).removeClass("add_question_do_not_add_state")
                    $(button).addClass("add_question_add_state")
                }else if($(button).hasClass("add_question_add_state")){
                    $(button).text("Do Not Add");
                    $(button).addClass("add_question_do_not_add_state")
                    $(button).removeClass("add_question_add_state")
                }
            }
            
            function create_buttons(button_wrapper){
                let add_button = document.createElement("button");
                add_button.innerHTML = "Add";
                add_button.addEventListener('click', function(event){
                    toggle_add(event.target);
                });

                let edit_button = document.createElement("button");
                edit_button.innerHTML = "Edit";
                edit_button.addEventListener('click', function (event) {
                    let questions_list = document.getElementById("questions_list");
                    let list = questions_list.children;
                    let index = -1;

                    for (let i = 0; i < list.length; ++i) {
                        if (list[i].contains(event.target)) {
                            index = i;
                            break; // Once found, exit the loop
                        }
                    }

                    if (index !== -1) {
                        let question_id = list[index].id;
                        if (question_id) {
                            window.location.href = "/edit_question/" + question_id;
                        } else {
                            console.error('Question ID not found');
                        }
                    } else {
                        console.error('Element not found in list');
                    }
                });

                $(add_button).addClass("add_question_button");
                $(add_button).addClass("add_question_add_state");
                $(edit_button).addClass("edit_question");
                $(add_button).addClass("bold_font");

                let ul = document.createElement("ul");
                ul.className = "unbulleted_list";
                let add_button_li = document.createElement("li");
                let edit_button_li = document.createElement("li");
                add_button_li.appendChild(add_button);
                edit_button_li.appendChild(edit_button);
                ul.appendChild(add_button_li);
                ul.appendChild(edit_button_li);
                button_wrapper.appendChild(ul);
            }


            $(document).ready(function() {

                // Dynamicly create each question when filter is pressed
                $('#filter_button').on('click', function(event){
                    volume_value = document.getElementById('volume_value').value;
                    chapter_value = document.getElementById('chapter_value').value;
                    point_value = document.getElementById("point_value").value;
                    creator_value = document.getElementById('creator_value').value;
                    time_value = document.getElementById('time_value').value;
                    difficulty_value = document.getElementById('difficulty_value').value;
                    let request = $.ajax({
                        type: "GET",
                        url: "/edit_quiz_add_question/{{quiz_id}}",
                        dataType: 'json',
                        data:{
                            csrfmiddlewaretoken: "{{csrf_token}}",
                            command: "filter",
                            chapter: chapter_value,
                            volume: volume_value,
                            creator: creator_value,
                            time: time_value,
                            point: point_value,
                            difficulty: difficulty_value 
                        }
                    });

                    request.done(function(data){
                        display_questions(data, "questions_list", create_buttons, false);
                    });
                    
                    request.fail(function(){
                        document.getElementById("questions_list").innerHTML = "Search failed, try again";
                    });
                });
            
            // Function to handle saving changes to quiz
            $('#save_changes_button').on('click', function(event){
                let list = document.getElementById("questions_list").children;
                let question_id_list = [];
                for(var i = 0; i < list.length; ++i){
                    let add_button = list[i].getElementsByClassName("add_question_button")[0];
                    if( $(add_button).hasClass("add_question_do_not_add_state")){
                        question_id_list.push($(list[i]).attr("id"));
                    }   
                }

                let request = $.ajax({
                    type: "POST",
                    url: "/edit_quiz_add_question/{{quiz_id}}",
                    dataType: 'json',
                    data:{
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        command: "save_changes",
                        questions_to_add_ids: JSON.stringify(question_id_list),
                    }
                });

                request.done(function(){
                    const save_status = document.getElementById("save_status");
                    const save_date = new Date();
                    save_status.innerHTML = "Additions Saved at " + save_date.toString();
                });

                request.fail(function(){
                    const save_status = document.getElementById("save_status");
                    const save_date = new Date();
                    save_status.innerHTML = "Oh no! There was an error making additions at: " + save_date.toString();
                });
            });
        });

        function confirmLeave() {
            const modal = document.getElementById('customModal');
            modal.style.display = 'inline-block';
        }

        function saveChanges() {
            document.getElementById('save_changes_button').click();
            location.href = '/edit_quiz/{{quiz_id}}'
            closeModal();
        }

        function leaveWithoutSaving() {
            location.href = '/edit_quiz/{{quiz_id}}'
            closeModal();
        }

        function cancelLeave() {
            closeModal();
        }

        function closeModal() {
            const modal = document.getElementById('customModal');
            modal.style.display = 'none';
        }
        </script>
        
    </body>

</html>