<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">  <link rel="stylesheet" type="text/css">
    <style>
      .form-group.required .control-label:after {
        content:"*";
        color:red;
      }
    </style>
</head>
<body >
    <iframe src="header.html" width="100%" height="95px" frameBorder="0"
      style="display: block; padding: 0px; margin: 0px;"></iframe>
    
      <div style="padding: 40px 100px 0px 100px;" class="container-fluid">
        <form
        class="needs-validation"
        novalidate
        method="POST"
        action="{% url 'user_edit' user_id=user_profile.user_id %}"
        >
          {% csrf_token %}
          <div class="row">
          <div class="col-md-6">
              <div class="list-group">
                <div class="form-group required mb-3">
                  <label for="full-name" class="control-label">Full Name</label>
                  <input type="text" name="full_name" class="form-control" id="full-name" value = "{{ user_profile.full_name }}" required>
                  <div class="invalid-feedback">
                    Please enter your full name.
                  </div>
                </div>
                  
                <div class="form-group required mb-3">
                  <label for="org-name" >Organization Name</label>
                  <input type="text" class="form-control" name="org_name" id="organization" value = "{{ user_profile.org_name }}" >  
                </div>

                <div class="form-group required mb-3">
                  <label for="primary-email" class="control-label">Primary email</label>
                  <input type="text" class="form-control" name="primary_email" id="email-address" value = "{{ email.email_address }}"  required>
                  <div class="invalid-feedback">
                    Please enter your primary email.
                  </div>
                </div>
                    <div class="input-group">
                      <span class="input-group-text">Other Email Addresses</span>
                      <input type="email" multiple class="form-control" name="other_emails" aria-label="other-emails" value = "{{other_email}}" placeholder="email1@email.com, email2@email.com"></input>
                    </div>
                </div>

                {% load static %}
                {% for handle in handles %}
                  <div class="container" style="margin-top: 15px"></div>
                  <div>
                  {% if handle.site.site_id == "github" %}
                  <div class="form-group mb-3">
                    <div class="input-group">
                      <img
                        src="{% static 'github-icon.png' %}"
                        alt="GitHub Icon"
                        height="30"
                    />
                    <input type="text" class="form-control" name="github" id="github" value ="{{ handle.handle }}" style="cursor: not-allowed" readonly>
                    
                    </div>
                  </div>
                  {% elif handle.site.site_id == "x" %}
                  <div class="form-group mb-3">
                    <div class="input-group">
                      <img
                        src="{% static 'x-icon.png' %}"
                        alt="X Icon"
                        height="30"
                    />
                    <input type="text" class="form-control" name="x" id="x" value ="{{ handle.handle }}" style="cursor: not-allowed" readonly>
                    
                    </div>
                  </div>
                  {% endif %}
                  </div>
                {% endfor %}
          </div>
          <div class="col-md-6" style="margin-top: 23px;">
              
              <div class="form-group required">
                  <div class="input-group mb-3">
                      <label class="input-group-text control-label" for="country-code">Country Code</label>
                      <select class="form-select" id="country-code" name="country_code">
                        <option value="US" {% if user_profile.country_code == 'US' %} selected {% endif %}>US</option>
                        <option value="AUS" {% if user_profile.country_code == 'AUS' %} selected {% endif %}>AUS</option>
                        <option value="UK" {% if user_profile.country_code == 'UK' %} selected {% endif %}>UK</option>
                      </select>
                    </div>
                  
                  <div class="form-group required mb-3" >
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" name="latitude" value = "{{ user_profile.latitude }}" placeholder="36.7783° N">  
                  </div>
                  
                  <div class="form-group required mb-3">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" name="longitude" value = "{{ user_profile.longitude }}" placeholder="119.4179° W">  
                  </div>
                  
                  <div class="input-group mb-3" >
                    <label class="input-group-text control-label" for="primary-language">Primary Language</label>
                    <select class="form-select" id="primary_lang_code" name="primary_lang_code">
                      <option value="ENG" {% if user_profile.primary_lang_code == 'ENG' %} selected {% endif %}>ENG</option>
                      <option value="ESP" {% if user_profile.primary_lang_code == 'ESP' %} selected {% endif %}>ESP</option>
                      <option value="FRA" {% if user_profile.primary_lang_code == 'FRA' %} selected {% endif %}>FRA</option>
                    </select>
                  </div>
                </div>
                <div class="button-container" style="display: flex; margin-top: 43px; justify-content: space-between;">
                  <button type="button" onclick="window.location.href='/reset_password'" class="btn btn-primary">Reset Password</button>
                  <button type="button" class="btn btn-primary">Edit Handles</button>
                  <button id="request-btn" class="btn btn-primary">{{ request_btn }}</button>
                  <button type="submit" class="btn btn-primary" style="margin-left: 100px;">Save</button>
                </div>
          </div>
          </div>
          <hr/>
          <div id="request_status"></div>
        </div>
    </form>
    <iframe src="footer.html" width="100%" height="50px" style="position: absolute; bottom: 0;" frameborder="0"></iframe>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })
      })()
    </script>
    <script type = "text/javascript">
      $(document).ready(function() {
          $('#request-btn').on('click', function(e){
            e.preventDefault();
            let request = $.ajax({
                type: "POST",
                url: "/profile/{{ user_profile.user_id }}/",
                dataType: 'json',
                data: {
                  csrfmiddlewaretoken: "{{csrf_token}}",
                  command: "request-auth"
                }
            });

            request.done(function() {
                const request_status = document.getElementById("request_status");
                const request_date = new Date();
                request_status.innerHTML = "Your promotion request has been submitted at " + request_date.toString() + ". We will update you on your status shortly.";
            });

            request.fail(function(){
                const request_status = document.getElementById("request_status");
                const request_date = new Date();
                request_status.innerHTML = "There was an error submitting your promotion request at " + request_date.toString() + ".";
            });
          });
      });
    </script>
  </body>
</html>