<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sign Up</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css"
        />
        <style>
            .form-group.required .control-label:after {
                content: "*";
                color: red;
            }
        </style>
    </head>
    <body>
        <div class="container" style="margin-top: 20px">
            <div class="row mb-3">
                <div class="col-md-6">
                    {% load static %}
                    <img
                        src="{% static 'kontinua_foundation_logo.png' %}"
                        alt="Responsive image"
                    />
                </div>
                <div class="col-md-6" style="margin-top: 20px">
                    <h2>Welcome, Please Sign Up!</h2>
                </div>
            </div>
            <hr />
        </div>
        <div class="container">
            <form
                class="needs-validation"
                novalidate
                method="POST"
                action="{% url 'sign_up' %}"
            >
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="form-group required col-md-6">
                        <label for="full-name" class="control-label"
                            >Full Name</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="full-name"
                            name="full_name"
                            placeholder="First Last"
                            required
                        />
                        <div class="invalid-feedback">
                            Please enter your full name.
                        </div>
                    </div>
                    <div class="form-group required col-md-6">
                        <label for="display-name" class="control-label"
                            >Display Name</label
                        >
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span
                                    class="input-group-text"
                                    id="inputGroupPrepend"
                                    >@</span
                                >
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                id="display-name"
                                name="display_name"
                                aria-describedby="inputGroupPrepend"
                                required
                            />
                            <div class="invalid-feedback">
                                Please choose a unique display name.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 mb-3">
                    <label for="organization">Organization Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="organization"
                        name="org_name"
                        autocomplete="organization"
                    />
                </div>
                <div class="form-group required col-12 mb-3">
                    <label for="email-address" class="control-label"
                        >Email address</label
                    >
                    <input
                        type="email"
                        class="form-control"
                        id="email-address"
                        name="primary_email"
                        aria-describedby="email-address"
                        placeholder="email@email.com"
                        required
                    />
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                <div class="form-group required col-12 mb-3">
                    <label for="user-password" class="control-label"
                        >Password</label
                    >
                    <input
                        type="password"
                        class="form-control"
                        id="user-password"
                        name="password"
                        required
                    />
                    <div class="invalid-feedback">
                        Please choose a password.
                    </div>
                </div>
                <div class="form-group required row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <label
                                class="input-group-text control-label"
                                for="country-code"
                                >Country Code</label
                            >
                            <select
                                class="form-select"
                                id="country-code"
                                name="country_code"
                                required
                            >
                                <option selected disabled value="">
                                    Choose...
                                </option>
                                <option value="AUS">AUS</option>
                                <option value="UK">UK</option>
                                <option value="US">US</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <label
                                class="input-group-text control-label"
                                for="primary-language"
                                >Primary Language</label
                            >
                            <select
                                class="form-select"
                                id="primary-language"
                                name="primary_language"
                                required
                            >
                                <option selected disabled value="">
                                    Choose...
                                </option>
                                <option value="English">English</option>
                                <option value="German">German</option>
                                <option value="Spanish">Spanish</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="other-languages"
                            >Other Languages</label
                        >
                        <div class="form-control">
                            <select
                                class="selectpicker"
                                id="other-languages"
                                name="other_languages"
                                title="Choose..."
                                data-width="100%"
                                multiple
                                data-actions-box="true"
                            >
                                <option value="English">English</option>
                                <option value="German">German</option>
                                <option value="Spanish">Spanish</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-md-6">
                        <label for="latitude">Latitude</label>
                        <input
                            type="text"
                            class="form-control"
                            id="latitude"
                            name="latitude"
                            placeholder=""
                        />
                    </div>
                    <div class="col-md-6">
                        <label for="longitude">Longitude</label>
                        <input
                            type="text"
                            class="form-control"
                            id="longitude"
                            name="longitude"
                            placeholder=""
                        />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-md-6">
                        <label for="github">Github</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span
                                    class="input-group-text"
                                    id="inputGroupPrepend"
                                    >@</span
                                >
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                id="github"
                                name="github"
                                placeholder="Github Username"
                                aria-describedby="inputGroupPrepend"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="twitter">Twitter</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span
                                    class="input-group-text"
                                    id="inputGroupPrepend"
                                    >@</span
                                >
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                id="twitter"
                                name="twitter"
                                placeholder="Twitter Username"
                                aria-describedby="inputGroupPrepend"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 mb-3">
                    <div class="input-group">
                        <span class="input-group-text"
                            >Other Email Addresses</span
                        >
                        <input
                            type="email" multiple
                            class="form-control"
                            aria-label="other-emails"
                            id="other-emails"
                            name="other_emails"
                            placeholder="email1@email.com, email2@email.com"
                        ></input>
                        <div class="invalid-feedback">
                            Please enter a list of valid email addresses.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">
                        Sign Up
                    </button>
                    <button
                        type="button"
                        class="btn btn-link"
                        onclick="window.location.href='/login'"
                    >
                        Already Have an Account? Log In.
                    </button>
                </div>
            </form>
            <hr />
            <footer>
                <div
                    class="d-flex flex-wrap justify-content-between mx-auto py-4"
                >
                    <div class="d-flex flex-wrap align-items-center">
                        <span class="ms-4 h5 mb-0 font-weight-bold"
                            >Kontinua</span
                        >
                        <small class="ms-2"
                            >&copy; 2023 The Kontinua Foundation. All Rights
                            Reserved.</small
                        >
                    </div>
                </div>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
        <script>
            (function () {
                "use strict";

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll(".needs-validation");

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms).forEach(function (form) {
                    form.addEventListener(
                        "submit",
                        function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault();
                                event.stopPropagation();
                            }

                            form.classList.add("was-validated");
                        },
                        false
                    );
                });
            })();
        </script>
    </body>
</html>
