<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sign Up</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css"
        />
        <style>
            .form-group.required .control-label:after {
                content: "*";
                color: red;
            }
        </style>
    </head>
    <body >
        <iframe src="header.html" width="100%" height="95px" frameBorder="0"
            style="display: block; padding: 0px; margin: 0px;"></iframe>
        <div class="container" style="margin-top: 30px;">
            <form
                class="needs-validation"
                novalidate
                method="POST"
                action="{% url 'sign_up' %}"
            >
                {% csrf_token %}
                <div class="form-group required col-12 mb-3">
                    <label for="full-name" class="control-label"
                        >Full Name</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="full-name"
                        name="full_name"
                        placeholder="First Last"
                        value="{{ form.full_name.value }}"
                        required
                    />
                    <div class="invalid-feedback">
                        Please enter your full name.
                    </div>
                </div>
                <div class="form-group col-12 mb-3">
                    <label for="organization">Organization Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="organization"
                        name="org_name"
                        value="{{ form.org_name.value }}"
                        autocomplete="organization"
                    />
                </div>
                <div class="form-group required col-12 mb-3">
                    <label for="email-address" class="control-label"
                        >Email address</label
                    >
                    <input
                        type="email"
                        class="form-control"
                        id="email-address"
                        name="email_address"
                        aria-describedby="email-address"
                        placeholder="email@email.com"
                        value="{{ email }}"
                        required
                    />
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                <!-- If the email address was not valid -->
                {% for field, errors in form.errors.items %}  
                    {% for error in errors %}
                        {% if "Primary" in error %}
                            <div class="alert alert-danger" role="alert">
                                Email is already in use.
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="form-group required col-12 mb-3">
                    <label for="password_hash" class="control-label"
                        >Password</label
                    >
                    <input
                        type="password"
                        class="form-control"
                        id="password_hash"
                        name="password_hash"
                        value="{{ form.password_hash.value }}"
                        minlength="8"
                        required
                    />
                    <div class="invalid-feedback">
                        Please choose a password with at least 8 characters.
                    </div>
                </div>
                <div class="form-group required row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label
                                class="input-group-text control-label"
                                for="country-code"
                                >Country Code</label
                            >
                            <select
                                class="form-select"
                                id="country-code"
                                name="country_code"
                                required
                            >
                                <option selected disabled value="">
                                    Choose...
                                </option>
                                <option value="AUS" {% if form.country_code.value == "AUS" %} selected {% endif %}>AUS</option>
                                <option value="UK" {% if form.country_code.value == "UK" %} selected {% endif %}>UK</option>
                                <option value="US" {% if form.country_code.value == "US" %} selected {% endif %}>US</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label
                                class="input-group-text control-label"
                                for="primary_lang_code"
                                >Primary Language</label
                            >
                            <select
                                class="form-select"
                                id="primary_lang_code"
                                name="primary_lang_code"
                                required
                            >
                                <option selected disabled value="">
                                    Choose...
                                </option>
                                <option value="English" {% if form.primary_lang_code.value == "English" %} selected {% endif %}>English</option>
                                <option value="German" {% if form.primary_lang_code.value == "German" %} selected {% endif %}>German</option>
                                <option value="Spanish" {% if form.primary_lang_code.value == "Spanish" %} selected {% endif %}>Spanish</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label
                                class="input-group-text control-label"
                                for="primary_dialect_code"
                                >Dialect Code</label
                            >
                            <select
                                class="form-select"
                                id="primary_dialect_code"
                                name="primary_dialect_code"
                                required
                            >
                                <option selected disabled value="">
                                    Choose...
                                </option>
                                <option value="EN" {% if form.primary_dialect_code.value == "EN" %} selected {% endif %}>EN</option>
                                <option value="ES" {% if form.primary_dialect_code.value == "ES" %} selected {% endif %}>ES</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="other-languages"
                            >Other Languages</label
                        >
                        <div class="form-control">
                            <!-- TODO: Actually use this data? -->
                            <select
                                class="selectpicker"
                                id="other-languages"
                                name="other_languages"
                                title="Choose..."
                                data-width="100%"
                                multiple
                                data-actions-box="true"
                            >
                                <option value="English">English</option>
                                <option value="German">German</option>
                                <option value="Spanish">Spanish</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-md-6">
                        <label for="latitude">Latitude</label>
                        <input
                            type="text"
                            class="form-control"
                            id="latitude"
                            name="latitude"
                            placeholder=""
                            value="{{ form.latitude.value }}"
                        />
                    </div>
                    <div class="col-md-6">
                        <label for="longitude">Longitude</label>
                        <input
                            type="text"
                            class="form-control"
                            id="longitude"
                            name="longitude"
                            placeholder=""
                            value="{{ form.longitude.value }}"
                        />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-md-6">
                        <label for="github">Github</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span
                                    class="input-group-text"
                                    id="inputGroupPrepend"
                                    >@</span
                                >
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                id="github"
                                name="github"
                                placeholder="Github Username"
                                aria-describedby="inputGroupPrepend"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="x">X</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span
                                    class="input-group-text"
                                    id="inputGroupPrepend"
                                    >@</span
                                >
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                id="x"
                                name="x"
                                placeholder="X Username"
                                aria-describedby="inputGroupPrepend"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 mb-3">
                    <div class="input-group">
                        <span class="input-group-text"
                            >Other Email Addresses</span
                        >
                        <input
                            type="email" multiple
                            class="form-control"
                            aria-label="other-emails"
                            id="other-emails"
                            name="other_emails"
                            placeholder="email1@email.com, email2@email.com"
                            value="{{ other_emails }}"
                        ></input>
                        <div class="invalid-feedback">
                            Please enter a list of valid email addresses.
                        </div>
                    </div>
                    <div class="container" style="margin-top: 5px"></div>
                    {% for field, errors in form.errors.items %}  
                        {% for error in errors %}
                            {% if "Other" in error %}
                                
                                <div class="alert alert-danger" role="alert">
                                    One or more emails already in use.
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">
                        Sign Up
                    </button>
                    <button
                        type="button"
                        class="btn btn-link"
                        onclick="window.location.href='/login'"
                    >
                        Already Have an Account? Log In.
                    </button>
                    </form>
                    
                </div>
            </form>
            <hr />
            <footer>
                <div
                    class="d-flex flex-wrap justify-content-between mx-auto py-4"
                >
                    <div class="d-flex flex-wrap align-items-center">
                        <span class="ms-4 h5 mb-0 font-weight-bold"
                            >Kontinua</span
                        >
                        <small class="ms-2"
                            >&copy; 2023 The Kontinua Foundation. All Rights
                            Reserved.</small
                        >
                    </div>
                </div>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
        <script>
            (function () {
                "use strict";

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll(".needs-validation");

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms).forEach(function (form) {
                    form.addEventListener(
                        "submit",
                        function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault();
                                event.stopPropagation();
                            }

                            form.classList.add("was-validated");
                        },
                        false
                    );
                });
            })();
        </script>
    </body>
</html>
